@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/* CREACION DEL MENU DESPLEGABLE*/

nav{
    width: 300px;
}

.nav_link{
    color:rgb(15, 50, 50);
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav_link--inside{
    border-radius: 6px;
    padding-left: 20px;
    background: red;
    text-align: left;
}

.nav_link--inside:hover{
    background: black;
}


.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.list_item{
    list-style-type: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list_arrow{
    transform: rotate(90deg);
}


.list_arrow{
    margin-left: auto;
    transition: transform .3s ;
}

.list_show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid salmon;
    list-style: none;
    transition: height .4s;
    height:0;
}















header{
    background: orange;
}

.dashboard {
    background: blue;
}

.home{
    background: green;
}

.container-4{
    background: darkmagenta;
}

.container-holamundo{
    background: fuchsia;
}



    