/*ABRIGOS*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: gold;
}


.abrigos{ 
    display: flex;
    background: gold;
    margin: 15px;
    height: 90%;
}


.abrigos .columna{
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.columna .columna1{
    display: flex;
    width: 100%;
    height: 40%;
    gap: 30px;
    background: wheat;
}

.columna .columna2{
    display: flex;
    width: 100%;
    height: 40%;
    gap: 30px;
    background: wheat;
}


.abrigos .abrigo1,
.abrigos .abrigo2,
.abrigos .abrigo3,
.abrigos .abrigo4{
    padding: 10px;
    background: rgb(160, 110, 110);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


.abrigos .abrigo1 .descripcion,
.abrigos .abrigo2 .descripcion,
.abrigos .abrigo3 .descripcion,
.abrigos .abrigo4 .descripcion{
    display: flex;
    width: 90%;
    justify-content: space-around;
    background: red;

}
